<div class="container">
  <h1>All Cocktails</h1>

  <div class="cocktail-card">
    <ul>
      <% @cocktails.sortable
                   .each do |cocktail| %>
        <li>
          <%= link_to cocktail_path(cocktail) do %>
            <%# <img src=<%= cocktail.image_url %>
            <%= cocktail.name %>
          <% end %>
          <% if cocktail.photo.attached? %>
            <%= cl_image_tag cocktail.photo.key, width: 150, height: 150, crop: :thumb %>
          <% end %>
          <%= link_to "Edit cocktail", edit_cocktail_path(cocktail) %>
        </li>
      <% end %>
    </ul>
  </div>
  
  <%= link_to "Create a new cocktail", new_cocktail_path %>
</div>