<h1><%= @cocktail.name %></h1>
<%# <img src=<%= @cocktail.image_url %> alt="cocktail image"> %>


<h2>Ingredients:</h2>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <p>
      <%= dose.ingredient.name %>
      - <%= dose.description %> 
      - <%= dose.id %> 
      - <%= link_to "delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
    </p>
  <% end %>
</ul>

<h2>Add ingredient:</h2>
<%= render "doses/new", cocktail: @cocktail, dose: @dose %>

<%= link_to "Back to cocktails", cocktails_path %>
