<div class="show-container">
  <div class="cocktail-image" data-aos="fade-right">
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, class: "cocktail-picture"  %>
    <% else %>
      <div class="no-picture">
        <h4>Ce cocktail semble avoir déjà été bu ;)</h4>
      </div>
    <% end %>
  </div>
  <div class="cocktail-infos">
    <div id="signed">
      <% if user_signed_in? %>
        <%= link_to cocktail_path(@cocktail), method: :delete do %>
          <i class="fas fa-trash"></i>
        <% end %>
        <%= link_to edit_cocktail_path(@cocktail) do %>
          <i class="fas fa-pen"></i>
        <% end %>
      <% end %>
    </div>
    <h1><%= @cocktail.name.capitalize%></h1>
    <div class="recipe">
      <h4>La Recette</h4>
      <% @cocktail.doses.each do |dose| %>
        <p class="card-text">
          <%= dose.description %> - <%= dose.ingredient.name %>
        </p>
      <% end %>
    </div>
    <div class= "font-plus" data-aos="zoom-out" id="modalBtn">
      <i class="fas fa-plus"></i>
    </div>
  </div>

  
  <!-- The Modal -->
  <div id="doseModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <h3>Ajouter un ingrédient</h3>
      <div class="ing-form">
        <%= simple_form_for [ @cocktail, @dose ] do |f|%>
          <div id="ing-elements">
            <%= f.association :ingredient, input_html: { class: 'select2' } %>
            <%= f.input :description, placeholder: "how much ?" %>
          </div>
        <% end %>
      </div>
      <div class="font-ing">
        <%= link_to new_cocktail_dose_path(@cocktail) do %>
          <i class="fas fa-check"></i>
        <% end %>
        <div class="close">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </div>
  </div>

</div>






    <%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo.key, width: 300, height: 400, crop: :fill')"> %>
      <%# <%= @cocktail.name %>
    <%# </div>
  <% else %>
    <%# <h1><%= @cocktail.name</h1> %>
  <%# <% end %>
  <%# <div class="card ingredients-info">
    <div class="card-header">
      <h4>Ingredients</h4>
    </div>
    <div class="card-body">
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <%# <p class="card-text">
            <i class="far fa-circle"></i>
            <%= dose.ingredient.name %>
            <%# - <%= dose.description %> 
            <%# - <%= dose.id %> 
            <%# - <%= link_to "delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
          <%# </p>
        <% end %>
      <%# </ul>
    </div> %>
    <%# <h2>Add ingredient:</h2>
    <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
  <%# </div>

  <div class="cocktail-description">
  </div>


  <%= link_to "Back to cocktails", cocktails_path %>